{% extends 'common.html' %}

{% block product %}

    {% if error %}
        <h2 style="font-size: 20px;color: gold">{{ error }}</h2>
    {% else %}
        <table align="center" border="2">
            <tr>
                {% for x in data %}
                    <th>
                    <table align="center" border="2">
                        <tr><th colspan="2"><img src="{{ x.image.url }}" width="150" height="150"></th></tr>
                        <tr><th>Name: </th><th>{{ x.name }}</th></tr>
                        <tr><th>Price: </th><th>{{ x.price }}</th></tr>
                        <tr><th>Quantity: </th><th>{{ x.quantity }}</th></tr>
                        <tr><th>Date: </th><th>{{ x.date }}</th></tr>
                        <tr><th>Category: </th><th>{{ x.category }}</th></tr>
                    </table>
                    </th>
                {% if forloop.counter|divisibleby:4 %}
                    </tr>
                {% endif %}

                {% endfor %}
        </table>
    {% endif %}

{% endblock %}